.LoadingId{
    width: 150px;
    font-display: block;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin-top: -7rem;
    color: white;
    
    } 
    
    .LoaderContainerId{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        background: rgba(0, 0, 0, 0.834);
        z-index: 1;
    }
    
    /* .spinner{
        animation: url('https://i.pinimg.com/originals/d5/0e/65/d50e65e83b9a3857503e5d69fb28b949.gif') 1.2s linear infinite ;
    } */
    
     .spinnerId {
        width: 64px;
        height: 64px;
        border: 8px solid;
        border-color: #4eff65c4 transparent;
        border-radius: 50%;
        animation: spin-anim 1.2s linear infinite;
    }
    
    @keyframes spin-anim {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    } 

/* .backButton {
    color: rgb(231, 218, 218);
    background-color: #ce5249;
    font-size: 17px;
    text-align: center;
    padding: 10px 25px;
    margin: 5px;
    border-radius: 3px;
    box-shadow: 3px 3px 5px 1px rgb(112, 44, 44);
    cursor: pointer;
}

.backButtonn:hover {
    color:#ce5249;
    background-color: rgb(231, 218, 218);
} */


.backButton{
    padding: 5px 20px;
    background: #222;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    height: 2.5rem;
    margin-top: -15px;
    font-size: 1rem;
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgb(206, 196, 247);
    
}
.backButton:hover{
    transform: translateY(-5px);
    box-shadow: 5px 5px 7px 2px rgb(194, 236, 203);
    color: rgb(194, 236, 203);

}

.details {
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    
}

.texts {
    color: rgb(6, 6, 75);
    font-style: italic;
    font-weight: 700;    
    text-shadow: 6px 4px 5px rgba(0,0,0,0.43);    
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

 .divimg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 0px;
    padding-right: 0px;
} 

.detailImg {
    margin: 5px;
    display: flex;   
    box-shadow: 3px 3px 5px 1px rgb(112, 44, 44);
    width: 400px;
    height: 250px
}
 
.ddsh {
    display: flex;
    justify-content: center;    
} 

 .detailDiets {
    display: flex;
    flex-direction: column;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 1px;
    border-radius: 3px;
    color: rgb(1, 1, 15);
          
    text-shadow: 6px 4px 5px rgba(0,0,0,0.43);
    box-shadow: 3px 3px 5px 1px rgb(112, 44, 44);
    background-color: rgb(231, 218, 218, 0.3);
    font-family: 'Montserrat', sans-serif;
    
} 

.score {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 1px;
    color: rgb(6, 6, 75);
    font-style: italic;
    text-shadow: 6px 4px 5px rgba(0,0,0,0.43);
    border-radius: 3px;
    box-shadow: 3px 3px 5px 1px rgb(112, 44, 44);
    background-color: rgb(231, 218, 218, 0.3);
}

.summary {
    text-align: justify;
    padding-left: 10px;
    background-color: rgb(231, 218, 218, 0.3);
    color: rgb(6, 6, 75);
    font-weight: 500;
}

.steps {
    padding-left: 10px;
    text-align: justify;
    list-style: none;
    background-color: rgb(231, 218, 218, 0.3);
    color: rgb(6, 6, 75);
    font-weight: 500;
}
